//colors
$color-main-white: white;
$color-main-black: black;
$color-main-green: #476338;
$color-main-blue: #022D7F;
$color-main-pink: #C7ACF4;
$color-main-purple: #4C264F;
$color-main-yellow: #EBB132;
$color-main-red: #BF1D1D;

//backgrounds
$back-white: white;
$back-black: #091418;
$back-section: #041759;
$back-section-right: gray;
$back-left-form: rgba(255, 255, 255, .7);
$back-section-red: #BF1D1D;
$back-modal-black: rgba(0, 0, 0, .7);
$back-section-gray: #F4F7FC;
$back-gray: #D7DDF0;
$back-green: #9CC57F;
$back-green-light: #BFD2B2;
$back-yellow-light: rgba(255, 255, 255, 0.5);
$back-pink: #A75187;
$back-purple: #624375;

//border
$border-white: rgba(255, 255, 255, 0.5);
$border-red: #BF1D1D;